.progress-step {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.progress {
    height: 7px;
    top: 17px;
    right: 0;
    transform: translateX(50%);
}

.order-info {
    .item-img {
        background-size: cover;
    }
}

.order-count {
    .order-input {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
.order-item-subtotal {
    width: 50px;
    text-align: right;
}

.order-price {
    > div {
        > span {
            // 最後一個span
            &:last-child {
                // inline-block才有寬高
                display: inline-block;
                width: 100px;
                text-align: right;
            }
        }
    }
}
