form {
    width: 100%;
    border: 1px solid #000;
    padding: 50px;
    .row {
        margin: 10px 0px;
        display: flex;
    }
    .label.name {
        margin-right: 13px;
    }
    .label.img {
        margin-right: 28px;
    }
    .label.price {
        margin-right: 34px;
    }
    .label.qty {
        margin-right: 43px;
    }
    
    .row.custom {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .row.btn {
        display: flex;
        justify-content: center;
        a {
            text-decoration: none;
            margin-right: 50px;
            color: rgb(118, 118, 118);
            background-color: rgb(200, 200, 200);
            padding: 1px 6px;
            border-width: 2px;
            border-style: outset;
            border-color: rgb(118, 118, 118);
            border-image: initial;
        }
    }
}
